{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static "phenos/img/favicon.ico" %}"/>
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Genomika - Phenos</title>

    <!-- Bootstrap -->
    <link href="{% static "phenos/js/jquery-ui.min.css" %}" rel="stylesheet">
    <link href="{% static "phenos/css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "phenos/js/jquery-ui.theme.min.css" %}" rel="stylesheet">
    <link href="{% static "phenos/js/jquery-ui.theme.css" %}" rel="stylesheet">
  </head>
  <body>
  	<nav class="navbar navbar-default">
  		<div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
              <img src="{% static "phenos/img/genomika.png" %}" alt="My image"/>
            </a>
        </div>
        <a class="btn btn-info" href="{% url 'phenos.views.logout' %}">Sair</a>
  		</div>
    </nav>
    <div class="panel panel-default">
  		<div class="panel-body">
			{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
			<form action="/phenos/results/" method="get">
				{% csrf_token %}
		  		<div class="form-group">
		    		<input type="text" class="form-control" name="term" id="term" placeholder="Informe a doença de interesse ou várias doenças separadas por vírgula. Ex.: Breast Cancer,Renal Cancer">
		    		<input type="hidden" id="hidden_field_disease_id" name="term_hidden">
		  		</div>
		  		<button type="submit" class="btn btn-success">Pesquisar</button>
		  </form>
  	</div>
    <script src="{% static "phenos/js/jquery.js" %}"></script>
    <script src="{% static "phenos/js/jquery-ui.js" %}"></script>
    <script src="{% static "phenos/js/phenos.js" %}"></script>
  </body>
</html>